<%include partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">NEW BLOG</div>
    <form class="ui form"action="/blogs" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="blog[title]" placeholder="Title">
        </div>
        <div class="field">
            <label for="">Image</label>
            <input type="text" name="blog[image]" placeholder="Image">
        </div>
        <div class="field">
          <label for="">Blog Content</label>
          <textarea name="blog[body]" placeholder="Your blog here!!" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="field">
           <button class="ui blue basic button">Add </button>
        </div>
        
    </form>
</div>

<%include partials/footer %>